<% if logged_in? %>
  <%= render 'tasks/tasks', tasks: @tasks %>
  <h6>ログイン中のユーザ: <span class="label label-success"><%= current_user.name %>さん</span></h6>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h2>Welcome to the TaskManager</h2>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>